*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:liberator;
    src: url(../fonts/fonsts-del-template/Liberator.otf);
    font-weight: 700;
}
@font-face {
    font-family:sf;
    src: url(../fonts/fonsts-del-template/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:sf;
    src: url(../fonts/fonsts-del-template/LibreBaskerville-Italic.ttf);
    font-weight: 400;
}
@font-face {
    font-family:twcenmtbold;
    src: url(../fonts/fonsts-del-template/TwCenMTStd-BoldCond.otf);
    font-weight: 700;
}
@font-face {
    font-family:twcenmt;
    src: url(../fonts/fonsts-del-template/TwCenMTStd.otf);
    font-weight: 400;
}
.body {
    font-family:sf;
    margin: 0em;
}
.cover { 

    background-image:url(../img/fondo.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.cover h1{
    font-family:"liberator";
    font-size: 12em;
    text-align: center;
    position: absolute;
    top: 35%;
    left:50%;
    transform: translateX(-47%) translateY(-50%);
    color: black;
}
.cover p{
    font-family:"twcenmt";
    font-size: 2.7em;
    text-align: center;
    position: absolute;
    top: 58%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
}
.cover h2{
    font-family:"twcenmt";
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 67%;
    left:50%;
    transform: translateX(-48%) translateY(-50%);
    color: black;
}

.balon{
    display: inline-block;
    width: 59px;
    height: 50px;
    margin-top: -195px;
    margin-left: -290px;
    left: 62%;
    top: 105%;
    position: absolute;
}
.twitter{
    display: inline-block;
    width: 55px;
    height: 50px;
    margin-top: -195px;
    margin-left: -290px;
    left: 68%;
    top: 105%;
    position: absolute;
}
.facebook{
    display: inline-block;
    width: 55px;
    height: 50px;
    margin-top: -195px;
    margin-left: -290px;
    left: 74%;
    top: 105%;
    position: absolute;
}
.in{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -195px;
    margin-left: -290px;
    left: 79%;
    top: 105%;
    position: absolute;
}
.flecha-abajo-one{
    display: inline-block;
    width: 23px;
    height: 22px;
    margin-top: -195px;
    margin-left: -290px;
    left: 72%;
    top: 127%;
    position: absolute;
}
.flecha-abajo-two{
    display: inline-block;
    width: 23px;
    height: 22px;
    margin-top: -195px;
    margin-left: -290px;
    left: 72%;
    top: 132%;
    position: absolute;
}
.flecha-abajo-three{
    display: inline-block;
    width: 23px;
    height: 22px;
    margin-top: -195px;
    margin-left: -290px;
    left: 72%;
    top: 137%;
    position: absolute;
}
#img1 { 
    position: absolute; 
    top:1150px; 
    left:100px;
  }
  #img2 { 
    position: absolute; 
    top:1300px; 
    left:170px;
  }
  #texto2{
    position: absolute; 
    top: 1050px; 
    left: 650px; 
    font-size:50px;
  }
  #texto3{
    position: absolute; 
    top:1250px; 
    left:450px;
    font-size:23px;
  }
  #texto4{
    position: absolute; 
    top: 1430px; 
    left: 450px; 
    font-size:23px;
}
.Blog h1 {
    font-family:liberator;
    font-size: 3.5em;
    text-align: center;
    position: absolute;
    top:300%;
    left:52%;
    transform: translateX(-47%) translateY(-50%);
    color: black;
}
.blockquote-one p {
    font-family:liberator;
    font-size: 1.9em;
    position: absolute;
    top:310%;
    left:33.8%;
    transform: translateX(-45%) translateY(-50%);
    color: black;
}
.blockquote-gris-one p {
    font-family:librebaskerville-italic;
    font-size: 0.9em;
    position: absolute;
    top:318%;
    left:30.2%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(124, 123, 123);
}
.blockquote-parrafo-one h3 {
    font-family:twcenmt;
    font-size: 1.3em;
    position: absolute;
    top:330%;
    left:34.6%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(88, 86, 86);
}
.blockquote-Continue-Reading-one h3 {
    font-family:twcenmtbold;
    font-size: 1.3em;
    position: absolute;
    top: 340%;
    left:27.2%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(37, 36, 36);
}
.blockquote-two p {
    font-family:liberator;
    font-size: 1.9em;
    position: absolute;
    top:310%;
    left:68%;
    transform: translateX(-45%) translateY(-50%);
    color: black;
}
.blockquote-gris-two p {
    font-family:librebaskerville-italic;
    font-size: 0.9em;
    position: absolute;
    top:318%;
    left:64.4%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(124, 123, 123);
}
.blockquote-parrafo-two h3 {
    font-family:twcenmt;
    font-size: 1.3em;
    position: absolute;
    top:330%;
    left:67.7%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(88, 86, 86);
}
.blockquote-Continue-Reading-two h3 {
    font-family:twcenmtbold;
    font-size: 1.3em;
    position: absolute;
    top: 340%;
    left:61.6%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(37, 36, 36);
}
.blockquote-línea-de-divición {
    font-family:twcenmtbold;
    font-size: 1.3em;
    position: absolute;
    top: 345%;
    left:48.6%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(31, 30, 30);
}
.blockquote-three p {
    font-family:liberator;
    font-size: 1.9em;
    position: absolute;
    top:355%;
    left:31.9%;
    transform: translateX(-45%) translateY(-50%);
    color: black;
}
.blockquote-gris-three p {
    font-family:librebaskerville-italic;
    font-size: 0.9em;
    position: absolute;
    top:364%;
    left:30%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(124, 123, 123);
}
.blockquote-parrafo-three h3 {
    font-family:twcenmt;
    font-size: 1.3em;
    position: absolute;
    top:375%;
    left:34.5%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(88, 86, 86);
}
.blockquote-Continue-Reading-three h3 {
    font-family:twcenmtbold;
    font-size: 1.3em;
    position: absolute;
    top:388%;
    left:27.2%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(37, 36, 36);
}
.blockquote-four p {
    font-family:liberator;
    font-size: 1.9em;
    position: absolute;
    top:355%;
    left:65.4%;
    transform: translateX(-45%) translateY(-50%);
    color: black;
}
.blockquote-gris-four p {
    font-family:librebaskerville-italic;
    font-size: 0.9em;
    position: absolute;
    top:364%;
    left:64.8%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(124, 123, 123);
}
.blockquote-parrafo-four h3 {
    font-family:twcenmt;
    font-size: 1.3em;
    position: absolute;
    top:375%;
    left: 68%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(88, 86, 86);
}
.blockquote-Continue-Reading-four h3 {
    font-family:twcenmtbold;
    font-size: 1.3em;
    position: absolute;
    top:388%;
    left:61.7%;
    transform: translateX(-45%) translateY(-50%);
    color: rgb(37, 36, 36);
}
.botoncito-all-articles {
    font-size: 1.3em;
    position: absolute;
    top:410%;
    left:50%;
    transform: translateX(-45%) translateY(-50%);
}
.contact{
    left: 62%;
    top: 145%;
}
.contact h1 {
    font-family:"liberator";
    font-size: 3.5em;
    color: black;
}
